// @charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
@import "bulma/sass/utilities";
@import "bulma/sass/base";
@import "bulma/sass/helpers";
@import "bulma/sass/themes";

@import "bulma/sass/grid";
@import "bulma/sass/layout";

// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/title.sass";
// @import "bulma/sass/form/_all.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/layout/hero.sass";
// @import "bulma/sass/layout/section.sass";

// @import 'bulma/bulma';

@import "./hotwire_combobox";

html, body {
  height: 100%;
}

// dark mode
html.wa-theme-default-dark .only-light,
html:not(.wa-theme-default-dark) .only-dark {
  display: none;
}

// customize wa theme
:root,
:host,
.wa-theme-default-light {
  /* Changes the brand color to violet across the library */
  --wa-color-brand-fill-quiet: var(--wa-color-violet-95);
  --wa-color-brand-fill-normal: var(--wa-color-violet-90);
  --wa-color-brand-fill-loud: var(--wa-color-violet-50);
  --wa-color-brand-border-quiet: var(--wa-color-violet-90);
  --wa-color-brand-border-normal: var(--wa-color-violet-80);
  --wa-color-brand-border-loud: var(--wa-color-violet-60);
  --wa-color-brand-on-quiet: var(--wa-color-violet-40);
  --wa-color-brand-on-normal: var(--wa-color-violet-30);
  --wa-color-brand-on-loud: white;

  --wa-color-text-link: var(--wa-color-violet-40);

  --bulma-footer-background-color: var(--wa-color-gray-80);
}

.wa-theme-default-dark {
  --wa-color-brand-fill-quiet: var(--wa-color-violet-10);
  --wa-color-brand-fill-normal: var(--wa-color-violet-20);
  --wa-color-brand-fill-loud: var(--wa-color-violet-40);
  --wa-color-brand-border-quiet: var(--wa-color-violet-10);
  --wa-color-brand-border-normal: var(--wa-color-violet-20);
  --wa-color-brand-border-loud: var(--wa-color-violet-30);
  --wa-color-brand-on-quiet: var(--wa-color-violet-70);
  --wa-color-brand-on-normal: var(--wa-color-violet-80);
  --wa-color-brand-on-loud: black;
  --wa-color-text-link: var(--wa-color-violet-70);

  --bulma-footer-background-color: var(--wa-color-gray-20);
}

body {
  font-family: var(--wa-font-family-body);
}

.site-wrapper {
  min-height: 100%;
}

// callouts
wa-callout {
  strong {
    color: var(--content-color);
  }
}

// validation
[data-wa-invalid] {
  --border-color: var(--wa-color-danger-border-normal);
}

// typography
a {
  color: var(--wa-color-text-link);

  &:hover {
    text-decoration: underline;
  }
}

// grid
wa-card.grid-card {
  width: 100%;
  height: 100%;
  min-height: 12rem;
  max-height: 16rem;

  &::part(base) {
    height: 100%;
  }
}

// auth layout
wa-card.card-auth {
  width: 30rem;
  max-width: 100%;
}
